<html>
    <header>
        <title>{{ username }}'s RSS Feeds<</title>
    </header>
    <body>
        <h2 class="heading">{{ username }}'s RSS Feeds</h2>
        <ul class="ul-sources">
            {% for source in sources %}
                <li class="li-source">
                    <a class="li-source-name" href="{{ source.pktc_subscription_url }}">{{ source.name }}</a> 
                    <a class="li-source-url" href="{{ source.url }}">{{ source.url }}</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>