# SERVER
SERVER_IP = "0.0.0.0"
SERVER_PORT = 5000
BASE_DOMAIN = "*******************:5000"
BASE_URL = "http://*******************:5000"
PROXY_HOST = "localhost"

# DATABASE
DATABASE_ECHO = False

# CACHE
USE_CACHE = True
BUILD_FEED_CACHE_INTERVAL_MINUTES = 10

# BUILD FEED
BUILD_FEED_RECENT_VIDEOS = 10
BUILD_FEED_DATEAFTER = "now-2month"
