# SERVER
SERVER_IP = "0.0.0.0"
SERVER_PORT = 5000
BASE_DOMAIN = "*******************:5000"
BASE_URL = "http://*******************:5000"
PROXY_HOST = "localhost"

# DATABASE
DATABASE_ECHO = False

# REFRESH
REFRESH_SOURCES_INTERVAL_MINUTES = 15
REFRESH_VIDEOS_INTERVAL_MINUTES = 30

# BUILD FEED
BUILD_FEED_RECENT_VIDEOS = 10
BUILD_FEED_DATEAFTER = "now-2month"
